<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<pre>

<% if @a[:type] == "vendeur" %>
Proposition de rachat
<% else %>
Demande de recherche
<% end %>

name:           <%= @a[:name] %>

email:          <%= @a[:email] %>

tel:            <%= @a[:tel] %>

region:         <%= @a[:region] %>

departement:    <%= @a[:departement] %>

zipcode:        <%= @a[:zip_code] %>

<% if @a[:statut_user] == "professionel" %>
professionnel
siren:          <%= @a[:siren] %>
<% else %>
particulier
<% end %>

catégorie:      <%= @a[:cat] %>

sous-catégorie: <%= @a[:sous_cat] %>

titre:          <%= @a[:title] %>

<% if @a[:type] == "vendeur" %>
description:    <%= @a[:desc] %>

price:          <%= @a[:price] %>

<% else %>
description:    <%= @a[:acheteur_desc] %>

price:          <%= @a[:acheteur_price] %>

<% end %>

<% if @a[:info_supp] %>
  <% @a[:info_supp].each do |key, val| %>
<%= key +" : "+val %>

  <% end %>
<% end %>

</pre>
</body>
</html>
